<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A3B6C5;">
    <a class="navbar-brand" [routerLink]="['/inicio']">
      <img src="/assets/images/angular.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Angular Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Categorias
          </a>
          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
            <div *ngFor="let category of categories">
              <a class="dropdown-item" [routerLink]="['categoria', category.id]">{{category.name}}</a>
            </div>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="!identity">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registro']">Registrarse</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="identity && identity.name">
        <li class="nav-item dropdown">
          <div *ngIf="identity && identity.image" class="avatar_mask float-left mr-2">
            <img src="{{url + 'user/avatar/' + identity.image}}" class="avatar_edit"/>
          </div>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ identity.name + ' ' + identity.surname}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/crear-entrada']">Crear entrada</a>
            <a class="dropdown-item" [routerLink]="['/crear-categoria']">Crear categoria</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/perfil', identity.sub]">Mi perfil</a>
            <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
            <a class="dropdown-item text-danger" [routerLink]="['/logout/1']" id="logout">Cerrar sesión</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!--CONTENIDO-->
  <router-outlet></router-outlet>
  <br>
  <br>
  <hr>
  <footer>
    By Alvaro García &copy;
  </footer>
</div>